<!DOCTYPE html>
<html>
    <%- include('./partials/header.ejs')  %>
    <body>
        <%- include('./partials/nav.ejs')  %>

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eligendi magnam, qui maiores nisi nam possimus eius quam fugit unde laborum id, nesciunt illo nostrum nemo dignissimos, sunt mollitia sed.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eligendi magnam, qui maiores nisi nam possimus eius quam fugit unde laborum id, nesciunt illo nostrum nemo dignissimos, sunt mollitia sed.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eligendi magnam, qui maiores nisi nam possimus eius quam fugit unde laborum id, nesciunt illo nostrum nemo dignissimos, sunt mollitia sed.</p>
        </div>

        <%- include('./partials/footer.ejs')  %>
    </body>
</html>