<!DOCTYPE html>
<html>
    <%- include('./partials/header.ejs')  %>
    <body>
        <%- include('./partials/nav.ejs')  %>

        <div class="not-found content">
            <p>We found some troubles here!!!!!!</p>
            <p>The page you searched doesn't exists!!!!!</p>
        </div>

        <%- include('./partials/footer.ejs')  %>
    </body>
</html>